<!-- /* Name: footer.ejs */
/* Author: Zac Force */
/* Website Name: Business Directory */
/* File Description: creates the footer and finishes off each html page */ -->

<!-- create the footer info -->
<footer class="alert alert-info navbar navbar-fixed-bottom">
    &copy; 2016 | Business Directory
</footer>

<!-- java script -->
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/jquery-validator.min.js"></script>
<script src="/javascripts/scripts.js"></script>
</body>
</html>