<!-- /* Name: header.ejs */
/* Author: Zac Force */
/* Website Name: Business Directory */
/* File Description: creates the start of each html page the style sheets to go with it */ -->

<!DOCTYPE html>
<html>
<head>
    <!-- create nav bar -->
    <title><%= title %></title>
    <!-- Boot strap css -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
    <!-- w3schools css -->
    <link rel="stylesheet" href="/stylesheets/w3.css">
    <link rel="stylesheet" href="/stylesheets/family=Lato.css">
    <link rel="stylesheet" href="/stylesheets/family=Montserrat.css">
    <link rel="stylesheet" href="/stylesheets/awesome.min.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-navbar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
    </style>
</head>
<body>
    <nav class="w3-top">
        <ul class="w3-navbar w3-red w3-card-2 w3-left-align w3-large">
            <li class="w3-hide-small"><a href="/" class="w3-padding-large w3-hover-white">Home</a></li>
            <li class="w3-hide-small"><a href="/view-businesses" class="w3-padding-large w3-hover-white">Businesses</a></li>
            <!-- only show if user is logged in -->
            <% if (user) { %>
                <li class="w3-hide-small"><a href="/businesses" class="w3-padding-large w3-hover-white">Edit Businesses</a></li>
                <li class="w3-hide-small"><a href="/users" class="w3-padding-large w3-hover-white">Users</a></li>
                <li class="w3-hide-small"><a href="/logout" class="w3-padding-large w3-hover-white">Logout</a></li>
            <% }
            else { %>
            <!-- show if the user is logged out only -->
                <li class="w3-hide-small"><a href="/register" class="w3-padding-large w3-hover-white">Register</a></li>
                <li class="w3-hide-small"><a href="/login" class="w3-padding-large w3-hover-white">Login</a></li>
            <% } %>
        </ul>
        
        <!-- welcome the user when logged in -->
        <% if (user) { %>
            <div class="navbar-text pull-right"><%= user.username%>
            Welcome
            </div>
        <% } %>
    </nav>
