<!-- /* Name: index.ejs */
/* Author: Zac Force */
/* Website Name: Business Directory */
/* File Description: The home page of the website */ -->

<% include partials/header.ejs %>
<!-- main page info -->
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p><%= message%></p>

<% include partials/footer.ejs %>
